<div class="container-fluid bg-1" style="height:100%">
    <!--		<div ng-app="formExample" ng-controller="formCtrl"> -->
        <div class="container ">
            <div class="row " style="margin-top:8%" >				
                <div class="col-lg-2 "></div>
                <div class="col-lg-8 bg-1" >				
                    <div class="panel-confirm">
                        <div class="panel-heading"><b>Your data is saved. Go to listing page to see.</b></div>
                    </div> 
                    
                    <div class="bg-2" style="margin-top:5%" >									
                        <div class="form-group_confirmation" >					
                            <div class="row" style="margin:0;">			
                                <div class="col-lg-3" ><p><b>Name</b></p></div>
                                <div class="col-lg-1" >:</div>						
                                <div class="col-lg-3"><p class="plist">{{name}}</p></div> 		
                            </div>	
                            <br />
                            
                            <div class="row" style="margin:0;">			
                                <div class="col-lg-3" ><p><b>Province</b></p></div>
                                <div class="col-lg-1" >:</div>						
                                <div class="col-lg-3"><p class="plist">{{province.name}}</p></div> 		
                            </div>	
                            <br />
                            
                            <div class="row" style="margin:0;">			
                                <div class="col-lg-3" ><p><b>Telephone</b></p></div>
                                <div class="col-lg-1" >:</div>						
                                <div class="col-lg-3"><p class="plist">{{telephone}}</p></div> 		
                            </div>	
                            <br />
                            
                            <div class="row" style="margin:0;">			
                                <div class="col-lg-3" ><p><b>Postal code</b></p></div>
                                <div class="col-lg-1" >:</div>						
                                <div class="col-lg-3"><p class="plist">{{postalcode}}</p></div> 		
                            </div>	
                            <br />
                            
                            <div class="row" style="margin:0;">			
                                <div class="col-lg-3" ><p><b>Salary</b></p></div>
                                <div class="col-lg-1" >:</div>						
                                <div class="col-lg-3"><p class="plist">{{salary}}</p></div> 		
                            </div>
                            
                        </div>
                    </div>			
                </div>						
            
        </div>
    <!----Code------end----------------------------------->
    </div>
    <!--
    this is confirmation html
    <pre>
    {{name}}
    {{province}}
    {{telephone}}
    {{postalcode}}
    {{salary}}
    </pre>
    -->